.auth-container form {
  font-family: "space mono", monospace;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-container input {
  padding: 16px;
  border-radius: 8px;
  background-color: lightgrey;
  border: none;
  outline: none;
  transition: background-color 0.25s;
}

.auth-container input:focus {
  background-color: white;
}

.auth-container button {
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

.auth-container button:hover {
  background-color: #f0f0f0;
}