.loading-container {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}

.error-container {
  background-color: rgb(163, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.error-container div {
  color: white;
  font-size: 1em;
}

.error-container button {
  padding: 10px 24px;
  background-color: lightgrey;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.25s;
}

.error-container button:hover {
  background-color: grey;
}