.dashboard-container {
  color: white;
  font-family: "space mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  
}

.dashboard-main {
  background-color: black;
  width: 100%;
  border: 1px solid hsla(0, 0%, 100%, 20%);
  margin: 0 auto;
  max-width: 600px;
}

.dashboard-unauthorized {
  background-color: grey;
  text-align: center;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 8px;
}

@media (min-width: 601px) {
  .dashboard-container {
    flex-direction: row;
    padding: 0 20px;
  }

  .dashboard-main {
    margin: 0;
    max-width: 600px;
  }
}