.error-page-container {
  font-family: "space mono", monospace;
  font-size: 1.25em;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.error-page-status {
  background-color: rgb(163, 15, 15);
  margin: 20px 0px;
  padding: 10px;
  border-radius: 8px;
}

.error-page-link {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.25s;
}

.error-page-link:hover {
  background-color: grey;
}
