.feed {
  flex: 1;
}

.feed-category {
  display: flex;
  text-align: center;
}

.feed-category div {
  flex: 1;
}

.feed-compose {
  display: flex;
}

.feed-compose-avatar {
  text-align: center;
  width: 80px;
}

.feed-compose-message {
  flex: 1;
  display: flex;
  flex-direction: column;
}