.home {
  width: 100%;
}

.home-feed {
  border-top: 1px solid hsla(0, 0%, 100%, 20%);
}

.home-empty {
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}