@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* fonts: roboto, space mono */

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  background-color: black;
  background-image: url("/src/assets/stars.jpg");
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center; 

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

hr {
  width: 500px;
  margin: 40px 0px;
}

.bold {
  font-weight: bold;
}

/* Blinking typing cursor animation */
.typing-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  margin-left: 2px;
  animation: blink 1.15s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

