@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts: "roboto" */

:root {
  --main-bg-color: grey;
}

body {
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
}

.hide {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}