.post-composer {
  background-color: black;
  display: flex;
  padding: 20px 0px;
}

.post-composer-avatar {
  font-size: 3em;
  padding: 0px 20px;
}

.post-composer-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.post-composer-message textarea {
  resize: vertical;
  background-color: white;
  font-family: "roboto", Arial;
  font-size: 1em;
  width: 100%;
  min-height: 80px;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.post-composer-message button {
  background-color: black;
  color: white;
  margin-left: auto;
  padding: 6px;
  outline: 1px solid white;
  border-radius: 8px;
}