.profile-header {
  position: relative;
  padding: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-emoji {
  font-size: 5em;
}

.profile-display-name {
  font-size: 2em;
  text-align: center;
  word-wrap: break-word;     
  overflow-wrap: break-word;  
  white-space: normal; 
  line-height: 1em;       
  width: 100%; 
}

.profile-username {
  color: grey;
  margin-bottom: 15px;
}

.profile-bio {
  text-align: center;
}

.profile-follow-stats {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px 20px;
}

.profile-following:hover, .profile-followers:hover {
  cursor: pointer;
  text-decoration: underline;
}

.follow-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  position: absolute;
  top: 20px;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.follow-button:hover {
  background-color: #0056b3;
}

.follow-button.following {
  background-color: white;
  color: black;
}

.follow-button.following:hover {
  background-color: #f2f2f2;
}

.follow-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}